<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <body class="container">
        <header>
            <h1 class="display-4">
                <%= title %>
            </h1>
        </header>
        <div role="main" class="pt-4">
            <p class="h5">
                <%= head %>
            </p>
            <form action="/md/mark/<%= id %>" method="POST">
                <div class="form-group">
                    <label for="source">SOURCE</label>
                    <textarea type="text" name="source" id="source" class="form-control" rows="5">
                        <%= source %> 
                    </textarea>
                </div>
                <input type="submit" value="更新" class="btn btn-primary">
            </form>
            <div class="card mt-4">
                <div class="card-header text-center h5">
                    Preview
                </div>
                <div class="card-body">
                    <%= content %>
                </div>
                <div class="card-footer text-muted text-right">
                    <%= footer %>
                </div>
            </div>

            <p class="mt-4"><a href="/md">&lt;&lt; トップに戻る</a></p>
        </div>
    </body>

</html>
